<!doctype html>
<html ng-app>
<head lang="en">
	<meta charset="UTF-8">
	<title>Anglophile</title>
</head>
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#/main">Home</a></li>
    <li><a ng-href="#">British Practice</a></li>
    <li><a ng-href="#/sight">Sight</a></li>
    <li><a ng-href="#/thegirls">The Girls</a></li>
    <li><a ng-href="#/indexprac">Practice</a></li>
  </ul>
  <h3 class="text-muted">britTrialNg</h3>
</div>

<body>
	<h1>{{hello}}</h1>
	<input type="text" ng-model="hello"/>
	
</body>

<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"
</html>