<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/brit1">British Practice</a></li>
    <li><a ng-href="#/sight">Sight</a></li>
    <li><a ng-href="#/thegirls">The Girls</a></li>
    <li><a ng-href="#/indexprac">Practice</a></li>
  </ul>
  <h3 class="text-muted">britTrialNg</h3>
</div>

<div class="jumbotron">
  <h1></h1>
  <p class="lead">
    <img src="images/kissingthelipless.jpg" alt="I'm Yeoman"><br>
    GET A GRIP!!!!!
  </p>
  <p><a class="btn btn-lg btn-default" ng-href="#/brit1">MOVE ON!</a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
