<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/brit1">British Practice</a></li>
    <li><a ng-href="#/sight">Sight</a></li>
    <li><a ng-href="#/thegirls">The Girls</a></li>
    <li><a ng-href="#/indexprac">Practice</a></li>
  </ul>
  <h3 class="text-muted">britTrialNg</h3>
</div>

<div class="jumbotron">
  <h1></h1>
  <p class="lead">
    <img src="images/kissingthelipless.jpg" alt="I'm Yeoman"><br>
    GET A GRIP!!!!!
  </p>
  <p><a class="btn btn-lg btn-default" ng-href="#/brit1">MOVE ON!</a></p>
</div>

<div class="row marketing">
  <div ng-app="britTrialNgApp">
    <div ng-controller="FirstCtrl">
      <input type="text" ng-model="data.message">
      <h1>{{data.message}}</h1>
    </div>

    <div ng-controller="SecondCtrl">
      <input type="text" ng-model="data.message">
      <h1>{{reversedMessage(data.message)}}</h1>
    </div>
  </div>
</div>